ID;Заголовок;Заметка;Дата
0;сахар;купить 3кг сахара завтра;2023-04-24 15:21:13
2;др Светы;подарок к 14-мая Свете;2023-04-30 14:57:43
3;помыть машину;буду проездом в четверг, прихватить наличку;2023-04-03 15:20:05
